<div class="border-bottom">
             <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class='container-fluid' style="padding: 20px 30px;">
                    <div class="row">
                        <div class="col-lg-8"> 
                            <h3>Prepare & Send a document</h3>
                        </div>
                        <div class="col-lg-4">
                             
                        </div>
                    </div>
                </div>
            </nav>
</div>
    
<div class="wrapper wrapper-content" style="padding: 20px 30px" >
            <div class="row">
                <div class="col-lg-8">
                    <rd-widget>
                        <rd-widget-header>
                            <h5>Add a Document</h5>
                        </rd-widget-header>
                        <rd-widget-body >
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6 pull-right">
                                            <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control" [(ngModel)]='listFilter'> <span class="input-group-btn">
                                                            <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span>  </div>
                                        </div>
                                    </div>
                        </rd-widget-body>
                    </rd-widget>
                </div>
            </div>
</div>

<div class="wrapper wrapper-content" style="padding: 20px 30px" >
            <div class="row">
                <div class="col-lg-8">
                    <rd-widget>
                        <rd-widget-header>
                            <h5>Add Recipients</h5>
                        </rd-widget-header>
                        <rd-widget-body >
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6 pull-right">
                                            <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control" [(ngModel)]='listFilter'> <span class="input-group-btn">
                                                            <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span>  </div>
                                        </div>
                                    </div>
                        </rd-widget-body>
                    </rd-widget>
                </div>
            </div>
</div>


    
<div class="wrapper wrapper-content" style="padding: 20px 30px" >
            <div class="row">
                <div class="col-lg-8">
                    <rd-widget>
                            <rd-widget-header><h5>Message to All Recipients</h5>
                            </rd-widget-header >
                            <rd-widget-body >
                                <form method="get" class="form-horizontal">
                                    <fieldset>
                                        <div class="control-group form-group">
                                            <div class="controls col-sm-8">
                                                <input type="text" name="title" placeholder="Please sign" class="required form-control" autofocus="">
                                            </div>
                                        </div>
                                        <div class="control-group form-group">
                                            <div class="controls col-sm-8">
                                                <textarea name="message" id="message" placeholder="Enter message" class="form-control" rows="5"></textarea>
                                            </div>
                                        </div>                                  
                                    </fieldset>

                                </form>
                                    
                            </rd-widget-body>
                    </rd-widget>
                </div>
            </div>
</div>